extends layout

block content
  h1 Air Quality Egg v2 - Download Data
  table
    tr
      td.lcol
        label Serial Number(s)
      td.ccol
        textarea#serial_numbers
      td.rcol One serial number per line, e.g. egg0080...
    tr
      td.lcol
        label Start Date
      td.ccol
        input#start_date(type="datetime-local", step="1")
      td.rcol Enter (or choose date and enter time) the local <a href="http://www.wikiwand.com/en/ISO_8601#/Combined_date_and_time_representations">ISO-8601 formatted</a> start time of the data to download
    tr
      td.lcol
        label End Date
      td.ccol
        input#end_date(type="datetime-local", step="1")
      td.rcol Enter (or choose date and enter time) the local <a href="http://www.wikiwand.com/en/ISO_8601#/Combined_date_and_time_representations">ISO-8601 formatted</a> end time of the data to download (optional)
    tr
      td.lcol
        label Duration
      td.ccol
        table
          tr
            td(style="padding-left:0px;") Yrs
            td Mos
            td Days
            td Hrs
            td Mins
          tr
            td(style="padding-left:0px;")
              input#durationYears(type="number", min="0", max="999")
            td
              input#durationMonths(type="number", min="0", max="999")
            td
              input#durationDays(type="number", min="0", max="999")
            td
              input#durationHours(type="number", min="0", max="999")
            td
              input#durationMinutes(type="number", min="0", max="999")
      td.rcol(style="vertical-align: middle") Enter the <a href="http://www.wikiwand.com/en/ISO_8601#/Durations">ISO-8601 formatted</a> duration to download (any/all optional)
    tr
      td.lcol
        label Filename
      td.ccol
        input#zipfilename(type="text")
      td.rcol Enter a name for the generated zip file, or we'll make one up for you randomly
    tr
      td.lcol
      td.ccol
        input#download_submit(type="button", value="Download Data")
      td.rcol Your file will be generated and then you will be presented with a link to download a zip (<b>please be patient</b>)
    tr
      td.lcol
      td#download-file-links.ccol(colspan="2")
    tr
      td.lcol
      td.ccol(colspan="2") Note: The behavior of duration is as follows. If you pick a start date, the duration runs from that point forward. If you only give a duration, leaving start and end date empty, you will receive data for that duration from the most recent message going back in time.
  div.modal
  div#status
  script(src="javascripts/download.js")