extends layout

block content
  h1 Air Quality Egg v2 - Download Data
  table
    tr
      td.lcol
        label Serial Number(s)
      td.ccol
        textarea#serial_numbers
      td.rcol One serial number per line, e.g. egg0080...
    tr
      td.lcol
        label Start Date
      td.ccol
        input#start_date(type="datetime-local", step="1")
      td.rcol Enter (or choose date and enter time) the local <a href="http://www.wikiwand.com/en/ISO_8601#/Combined_date_and_time_representations">ISO-8601 formatted</a> start time of the data to download. E.g. 2015-12-27T20:24:12-07:00. Or just use form controls in Chrome.
    tr
      td.lcol
        label End Date
      td.ccol
        input#end_date(type="datetime-local", step="1")
      td.rcol Enter (or choose date and enter time) the local <a href="http://www.wikiwand.com/en/ISO_8601#/Combined_date_and_time_representations">ISO-8601 formatted</a> end time of the data to download. E.g. 2015-12-27T20:24:12-07:00. Or just use form controls in Chrome.
    tr
      td.lcol
        label Duration
      td.ccol
        table
          tr
            //
              td(style="padding-left:0px;") Yrs
              td Mos
            td Days
            td(style="padding-left:0px;") Hrs
            td Mins
          tr
            //
              td(style="padding-left:0px;")
                input#durationYears(type="number", min="0", max="999")
              td
                input#durationMonths(type="number", min="0", max="999")
            td
              input#durationDays(type="number", min="0", max="999")
            td(style="padding-left:0px;")
              input#durationHours(type="number", min="0", max="999")
            td
              input#durationMinutes(type="number", min="0", max="999")
      td.rcol(style="vertical-align: middle") Enter the <a href="http://www.wikiwand.com/en/ISO_8601#/Durations">ISO-8601 formatted</a> duration to download (any/all optional)
    tr
      td.lcol
        label Filename
      td.ccol
        input#zipfilename(type="text")
      td.rcol Enter a name for the generated zip file, or we'll make one up for you randomly
    tr
      td.lcol
        input#use_instant_values(type="checkbox")
      td.ccol
        label Instantaneous Values
      td.rcol Checking the box gets instantaneous readings where possible (currently only for 'raw' values)
    tr
      td.lcol
        input#use_uncompensated_values(type="checkbox")
      td.ccol
        label Uncompensated Values
      td.rcol Checking the box gets raw readings where possible (e.g. 'converted' rather than 'compensated' values). The Instantaneous checkbox takes precedence over the Uncompensated checkbox.
    tr
      td.lcol
      td.ccol
        input#download_submit(type="button", value="Download Data")
      td.rcol Your file will be generated and then you will be presented with a link to download a zip (<b>please be patient</b>)
    tr
      td.lcol
      td#download-file-links.ccol(colspan="2")
    tr
      td.lcol
      td.ccol(colspan="2")
        div#status
        div
          ul
            li Please limit your requests to a maximum of 168 hours (1 week) worth of data at a time
            li We are pretty sure there is a bug related to long duration requests where OpenSensors API cuts off prematurely, and w'ere working with them to get to the bottom of it
            li Note: The behavior of duration is as follows.
            ul
              li If you pick only a start date and duration, the duration runs from that point forward.
              li If you pick only an end date and duration, the duration runs from that point backward.
              li If you only give a duration, with neither a start date nor an end date, the end date is implied to be now.
              li If you provide only a start date, the end date is implied to be now.
            li Note: The timestamps in downloaded files have thie following format:
            ul
              li MM/DD/YYYY HH:mm:ss
              li Time is adjusted to the local timezone of your computer
              li Hours are in 24-hour format, all fields are zero-padded
            li Source code for this web application can be found&nbsp;
              a(href="https://github.com/WickedDevice/AQEV2DataDownload") here
            li Application last updated on Tuesday 6/28/2016

  div.modal
  script(src="javascripts/download.js")